#location_gMap
%script{ type: "text/javascript", src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyBloH3cURER7UdBL2ie0QL8yOseR7Ypa2w&sensor=true" }
%script{ type: "text/javascript", src:'javascripts/map.js'}
